/* RGBA fonctionne avec Edge et IE */

/* ========== FONT ========== */
@font-face
{
	font-family: "GillSans";
	src: url('GillSans-Light.ttf');
}

/* */
html
{
    padding: 0;
    margin: 0;
    font-family: GillSans;
}

/* ==================== BODY ==================== */
body
{
    background-image: url("Images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* ==================== HEADER ==================== */
header
{
    display: flex;
    background-color: rgba(9, 93, 112, 0.9);
    margin: 0 2% 0 2%;
    height: 200px;
    border: #000 5px solid;
    border-radius: 0 0 15px 15px;
}

@media screen and (max-width: 1020px)
{
    header
    {
        height: unset;
        display: block;
        padding-bottom: 10px;
    }
}

@media print
{
    header
    {
        height: unset;
        display: block;
        padding-bottom: 10px;
    }
}

/* ===== Informations HEADER ===== */
#infoHeader
{
    width: 100%;
    display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(230, 222, 222);
}

#nomPrenom, #infoPerso
{
    display: block;
    justify-content: center;
    align-items: center;
}

#infoPerso div
{
    text-align: center;
}

/* ===== Profil ===== */
#profil
{
    position: absolute;
    margin: 10px 10px 10px 50px;
}

@media screen and (max-width: 1020px)
{
    #profil
    {
        position: unset;
        margin: 10px 0 0 0;
        display: flex;
        justify-content: center;
    }
}

@media print
{
    #profil
    {
        position: unset;
        margin: 10px 0 0 0;
        display: flex;
        justify-content: center;
    }
}

#profil>img
{
    overflow: hidden;
    width: 250px;
    height: 250px;
    border-radius: 150px;
    cursor: pointer;
    transition: 1s;
}

#profil>img:hover
{
    transition: 1s;
    transform: rotate(10deg);
}

/* ---- Lightbox ---- */
#lightbox
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    z-index: 1;
}

#lightbox>img
{
    max-width: 90vw;
    max-height: 90vh;
    align-self: center;
}

/* ==================== MAIN ==================== */
#main
{
    margin-top: 5px;
    display: flex;
}

@media screen and (max-width: 1020px)
{
    #main
    {
        display: block;
    }
}

@media print
{
    #main
    {
        display: block;
    }
}

/* ===== Informations MAIN ===== */
#infoMain
{
    position: sticky;
	margin: 55px 0 0 2%;
    top: 5px;
    height: 120px;
    padding: 5px;
    min-width: 276px;
	background-color: rgb(211, 211, 211);
	border-radius: 10px;
}

@media screen and (max-width: 1020px)
{
    #infoMain
    {
        display: none;
    }
}

@media print
{
    #infoMain
    {
        display: none;
    }
}

#infoMain>div
{
    height: 100%;
    width: 100%;
    display: flex;
    margin-left: 15px;
    flex-flow: column;
}

h4
{
    margin: 5px 0 5px -5px;
}

/* ===== Corps ===== */
#corps
{
    margin: 0 3% 0 2%;
    flex-grow: 1;
}

@media screen and (max-width: 1020px)
{
    #corps
    {
        margin: 0 3%;
    }
}

@media print
{
    #corps
    {
        margin: 0 3%;
    }
}

#corps>div
{
    transition: 1s;
}

.paragraphe
{
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 2%;
    border: 2px solid #000000;
}

/* H2 */
.paragraphe h2
{
    padding: 2px 5px;
    border-bottom: 2px solid #000000;
    border-bottom-style: dashed;
}

/* Texte */
.texte
{
    margin: 0;
    padding: 0 5px 20px 5px;
    font-size: 1.2em;
}

.texte>ul
{
    margin: 0;
}

/* ---- Compétences informatiques : conteneurs + pourcentages ---- */
.conteneurCpt
{
    margin-top: 2px;
    width: 280px;
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 380px)
{
    .conteneurCpt
    {
        width: 240px;
    }
}

.pourcentage
{
    width: 0;
    background-color: rgb(11, 108, 129);
}

/* ---- Logiciels ---- */
.logiciel
{
    display: flex;
}

.nomLogiciel
{
    display: flex;
    width: 130px;
    height: 40px;
    align-items: center;
    /*justify-content: center;*/ /* Centrer horizontalement */
}

.conteneurLogiciel
{
    display: flex;
    height: 40px;
    align-items: center;
}

.conteneurLogiciel>div
{
    height: 12px;
    width: 12px;
    border-radius: 6px;
    background-color: rgb(144, 144, 144);
    margin: 0 10px;
}

.conteneurLogiciel>div.plein
{
    background-color: rgb(0, 0, 0);
}

/* ---- Colonnes ---- */
#colonne
{
    display: flex;
    padding: 0 5px;
}

@media screen and (max-width: 680px)
{
    #colonne
    {
        display: block;
    }
}

#colonne>div
{
    width: 50%;
}

#colonne>div>div
{
    margin: 10px 0;
}

/* ---- Drapeau ---- */
#icone
{
	float: left;
	margin: -10px 5px 7px 5px;
    height: 40px;
}

/* ========== Print ========== */
.affichageImpression
{
    display: none;
}

@media print
{
    .affichageImpression
    {
        display: flex;
        align-items: center;
    }
}

/* ========== Script ========== */
.invisible
{
    opacity: 0;
    transition: 0s;
}

@media print
{
    .invisible
    {
        opacity: 1;
    }
}